In [49]:
import pandas as pd

tableu_df = pd.read_csv("spends.csv")

In [2]:
tableu_df.head(10)

,Reclassified,Media Channel Off/On (copy),Media Channel (copy 2),Campaign (copy),Week Start,Date,Value
0,Brand,Online,Paid Search,BAU Priority,Mondays,16/01/2017,342
1,Brand,Online,Paid Search,BAU Priority,Mondays,23/01/2017,5874
2,Brand,Online,Paid Search,BAU Priority,Mondays,30/01/2017,2866
3,Brand,Online,Paid Search,BAU Priority,Mondays,06/02/2017,3936
4,Brand,Online,Paid Search,BAU Priority,Mondays,13/02/2017,683
5,Brand,Online,Paid Search,BAU Priority,Mondays,20/02/2017,621
6,Brand,Online,Paid Search,BAU Priority,Mondays,27/02/2017,1432
7,Brand,Online,Paid Search,BAU Priority,Mondays,06/03/2017,5829
8,Brand,Online,Paid Search,BAU Priority,Mondays,13/03/2017,4777
9,Brand,Online,Paid Search,BAU Priority,Mondays,20/03/2017,2383

In [11]:
df.describe()

               Value
count     808.000000
mean    15289.793317
std     46148.874703
min         0.000000
25%        13.750000
50%      1480.500000
75%     11629.500000
max    522216.000000

In [48]:
spends_df = pd.read_csv("spends2.csv")

In [13]:
spends_df.head(10)

,SMB/Brand/Trding,Unnamed: 1,Unnamed: 2,Unnamed: 3,Mondays,Mondays.1,Mondays.2,Mondays.3,Mondays.4,Mondays.5,Mondays.6,Mondays.7,Mondays.8,Mondays.9,Mondays.10,Mondays.11,Mondays.12,Mondays.13
0,Reclassified,Media Channel Off/On (copy),Media Channel (copy 2),Campaign (copy),16-Jan-17,23-Jan-17,30-Jan-17,06-Feb-17,13-Feb-17,20-Feb-17,27-Feb-17,06-Mar-17,13-Mar-17,20-Mar-17,27-Mar-17,03-Apr-17,10-Apr-17,17-Apr-17
1,Brand,Online,Paid Search,BAU Priority,342,"5,874","2,866","3,936",683,621,"1,432","5,829","4,777","2,383","3,448","1,643","1,481",NaN
2,Brand,Online,Paid Search,Six Nations Rugby,NaN,NaN,NaN,NaN,NaN,0,"1,278","2,160","1,945",NaN,NaN,NaN,NaN,NaN
3,Brand,Online,Standard Display,O2_All4Partnership_20161219_20170331_DIS_DRS_G...,NaN,"5,770","4,910","4,794","4,786","4,869","1,931","2,701","4,301","4,373",90,1,NaN,NaN
4,Brand,Online,Standard Display,O2_O2Priority_20150505_20151231_DIS_DRS_GBR_47444,0,"1,845","1,360",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Brand,Online,Standard Display,O2_Priority_2015-05-05_2015-12-31_DIS_DRS_Prio...,NaN,NaN,0,0,0,0,0,0,0,"4,579",0,0,0,NaN
6,Trading,Online,Programmatic Audio,Sims Feb/ March,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6,106","6,106",NaN,NaN,NaN,NaN,NaN
7,Trading,Offline,OOH,O2 Free Sim - Bigger Bundles,NaN,"7,775",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Trading,Offline,OOH,O2 Jan Sale - Jan Pay Day,NaN,"48,846","48,846",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Trading,Offline,OOH,O2 Jan Sale - iPhone Push,NaN,"23,344","54,469","54,469","31,125",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
import math

date_array = ["16-Jan-17", "23-Jan-17", "30-Jan-17", "06-Feb-17", 
              "13-Feb-17", "20-Feb-17", "27-Feb-17", "06-Mar-17",
              "13-Mar-17", "20-Mar-17", "27-Mar-17", "03-Apr-17", 
              "10-Apr-17", "17-Apr-1"]

def date_conv(input):
    input = input.replace("Jan", "01")
    input = input.replace("Feb", "02")
    input = input.replace("Mar", "03")
    input = input.replace("Apr", "04")
    input = input.replace("-", "/")
    input = input[:-2]
    return input + "2017"

spends_matrix = list()

for index, row in spends_df.iterrows():
    if index == 0:
        continue
    base_row = [str(row[i]) for i in range(4)]
    for idx, column in enumerate(row[4:]):
        if column == column:            
            spends_matrix.append(base_row + ["Mondays", date_conv(date_array[idx]), column])
new_df = pd.DataFrame(spends_matrix)

In [52]:
new_df.columns = list(df)

In [53]:
new_df.head(10)

,Reclassified,Media Channel Off/On (copy),Media Channel (copy 2),Campaign (copy),Week Start,Date,Value
0,Brand,Online,Paid Search,BAU Priority,Mondays,16/01/2017,342
1,Brand,Online,Paid Search,BAU Priority,Mondays,23/01/2017,"5,874"
2,Brand,Online,Paid Search,BAU Priority,Mondays,30/01/2017,"2,866"
3,Brand,Online,Paid Search,BAU Priority,Mondays,06/02/2017,"3,936"
4,Brand,Online,Paid Search,BAU Priority,Mondays,13/02/2017,683
5,Brand,Online,Paid Search,BAU Priority,Mondays,20/02/2017,621
6,Brand,Online,Paid Search,BAU Priority,Mondays,27/02/2017,"1,432"
7,Brand,Online,Paid Search,BAU Priority,Mondays,06/03/2017,"5,829"
8,Brand,Online,Paid Search,BAU Priority,Mondays,13/03/2017,"4,777"
9,Brand,Online,Paid Search,BAU Priority,Mondays,20/03/2017,"2,383"

In [54]:
new_df.to_csv("generated.csv", index=False)